body{
    background-image: url("../img/login background.gif");
    background-size: cover;
}

.textoDark{
    color: white;
    background-color: black;
}

div{
    margin-left: 40%;
    background-position: center;
    position: absolute;
    top: 30%;
    width: 20%;
    height: 40%;
    text-align: center;
    background-image: url("../img/login texture.jpg");
}